<script setup>
const props = defineProps({
    modal: String, title:String
});
</script>
<template>
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{title}}</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" 
                    aria-label="Close"></button>
                          
            </div>
            <slot></slot>  
            </div>
        </div>
    </div>

</template>